<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>资质证书</title>

</head>
<body><div class="article-content">
    <h3 style="border-bottom: 2px solid #e7e7e7; margin: 0 -10px;">
        <span style="display: inline-block; padding-bottom: 10px; border-bottom: 2px solid #666666; margin-bottom: -2px">资质证书</span>
    </h3>

    <div ui-jq="lightbox">
        <div style="height: 30px"></div>
        <div class="col-xs-4 m-b-md ng-scope">
            <a href="/front/images/v2/about/certificate/845042471581624522.jpg" data-lightbox="certificate" data-title="营业执照" style="border: 1px solid #ddd; padding: 20px; display: inline-block; width: 200px; height: 260px; text-align: center">
                <img src="/front/images/v2/about/certificate/845042471581624522.jpg" alt="营业执照" height="220">
            </a>
        </div>

        <div class="col-xs-4 m-b-md ng-scope">
            <a href="/front/images/v2/about/certificate/yyzz.jpg" data-lightbox="certificate" data-title="营业执照" style="border: 1px solid #ddd; padding: 20px; display: inline-block; width: 200px; height: 260px; text-align: center">
                <img src="/front/images/v2/about/certificate/yyzz.jpg" alt="营业执照" height="220">
            </a>
        </div>

        <div class="col-xs-4 m-b-md ng-scope">
            <a href="/front/images/v2/about/certificate/24631413566607907.png" data-lightbox="certificate" data-title="登记备案信息" style="border: 1px solid #ddd; padding: 60px 10px; display: inline-block; width: 200px; height: 260px; text-align: center">
                <img src="/front/images/v2/about/certificate/24631413566607907.png" alt="登记备案信息" width="180">
            </a>
        </div>

        <div class="col-xs-4 m-b-md ng-scope">
            <a href="/front/images/v2/about/certificate/173699211543323065.png" data-lightbox="certificate" data-title="登记备案信息" style="border: 1px solid #ddd; padding: 60px 10px; display: inline-block; width: 200px; height: 260px; text-align: center">
                <img src="/front/images/v2/about/certificate/173699211543323065.png" alt="登记备案信息" width="180">
            </a>
        </div>

        <div class="col-xs-4 m-b-md ng-scope">
            <a href="/front/images/v2/about/certificate/SKMBT_50117050817050.pdf" target="_blank" style="border: 1px solid #ddd; display: inline-block; width: 200px; height: 260px; overflow: hidden; text-align: center">
                <img src="/front/images/v2/about/certificate/12487215722344114.jpg" alt="资金存管业务支付结算服务合作协议" width="180">
            </a>
        </div>
    </div>

</div>
</body>
</html>