<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>联系我们</title>

</head>
<body>
<div class="article-content" style="line-height: 24px">
    <p style="font-size: 20px; color: #000">深圳市广富宝金融信息服务有限公司</p>

    <p>公司地址:广东省深圳市福田区深南大道7002号财富广场A座24O-R</p>

    <p>联系电话：0755-83444799</p>

    <p>邮编：518042</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">人工服务
    </div>

    <p>客服电话：400 839 6696</p>

    <p>广富宝P2P官方1群：<a class="share2_qq" href="http://shang.qq.com/wpa/qunwpa?idkey=a98416a30dc051f845f2dd9ea4f57439273a799fd4484dd1493bbc072527ba33">318195664</a>
    </p>

    <p>客服邮箱：<a href="mailto:gfb@gofobao.com">gfb@gofobao.com</a></p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">媒体采访
    </div>

    <p>如果您有采访需求或品牌合作意向，请将采访提纲或合作方式等资料发送到<a href="mailto:gfb@gofobao.com">gfb@gofobao.com</a>，我们会尽快与您联系</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">商务合作
    </div>

    <p>如果您有意向与我们合作，请将合作意向文档发送至<a href="mailto:gfb@gofobao.com">gfb@gofobao.com</a>，我司工作人员会尽快与您联系</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">深圳分公司
    </div>

    <p>联系电话：0755-23964815</p>

    <p>地址：广东省深圳市福田区车公庙深南大道7002号财富广场A座22yz </p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">中山分公司
    </div>

    <p>联系电话：0760-28165188</p>

    <p>地址：广东省中山市东区中山四路财富大厦408</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">东莞分公司
    </div>

    <p>联系电话：0769-23152179</p>

    <p>地址：广东省东莞市南城区第一国际F座1708</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">广州分公司
    </div>

    <p>联系电话：020-29030505</p>

    <p>地址：广东省广州市天河区珠江新城富力盈信大厦8楼812</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">龙岗分公司
    </div>

    <p>联系电话：0755-89207186</p>

    <p>地址：深圳市龙岗区正中时代广场B座2505B</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">佛山分公司
    </div>

    <p>联系电话：0757-82034897</p>

    <p>地址：广东省佛山市禅城区祖庙环球国际809</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">漳州分公司
    </div>

    <p>联系电话：18759258660</p>

    <p>地址：福建省漳州市龙文区万达写字楼A座1810</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">成都分公司
    </div>

    <p>联系电话：028-61533919</p>

    <p>地址：四川省成都市锦江区芷泉街68号时代8号写字楼1106</p>

    <div class="m-t-md m-b-md" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">重庆分公司
    </div>

    <p>联系电话：023-67106855</p>

    <p>地址：重庆市江北区富力海洋国际写字楼12-4</p>

    <div class="m-t-md m-b-md" id="er-code" style="font-size: 20px; color: #e25353; border-bottom: 1px solid #e25353; padding-bottom: 5px">关注广富宝
    </div>

    <p ui-jq="lightbox">
        <a href="/front/images/about/contact/xlewm.jpg" data-lightbox="xlewm" data-title="新浪微博" style="width: 150px; height: 170px; display: inline-block; text-align: center">
            <img src="/front/images/about/contact/xlewm.jpg" alt="新浪微博" width="150">
            <span style="vertical-align: bottom">微博二维码</span>
        </a>

        <a href="/front/images/about/contact/wxgzhewm.jpg" class="m-l-md" data-lightbox="wxgzhewm" data-title="微信公众号" style="width: 150px; height: 170px; display: inline-block; text-align: center">
            <img src="/front/images/about/contact/wxgzhewm.jpg" alt="微信公众号" width="150">
            <span style="vertical-align: bottom">微信二维码</span>
        </a>

        <a href="/front/images/about/contact/appewm.png" class="m-l-md" data-lightbox="appewm" data-title="微信公众号" style="width: 150px; height: 170px; display: inline-block; text-align: center">
            <img src="/front/images/about/contact/appewm.png" alt="微信公众号" width="150">
            <span style="vertical-align: bottom">APP二维码</span>
        </a>
    </p>
</div>
</body>
</html>