<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>管理团队</title>

</head>
<body>
<div class="article-content" ui-jq="lightbox">
    <p>
        <a href="http://www.sumapay.com" target="_blank">
            <img src="/front/images/about/partner/sumapay.jpg" alt="丰付支付">
        </a>
    </p>

    <p style="text-indent: 2em">
        丰付为北京数码视讯软件技术发展有限公司的支付品牌。北京数码视讯软件技术发展有限公司成立于2008年12月，为北京数码视讯科技股份有限公司的全资子公司。
    </p>

    <p style="text-indent: 2em">
        母公司为全球90余个国家及地区，全国三十多个省及直辖市，超过1000个地市、县电视台（网络公司）提供专业的服务。在12年的发展壮大中，从单一的数字电视设备提供商已经全面转型为国内首家数字电视全平台解决方案提供商。凭借在数字电视领域内的多年经验以及完整的产品线，更加实际的、完整全面的为广大运营商量身定做最适合的解决方案。
    </p>

    <p style="text-indent: 2em">
        北京数码视讯软件技术发展有限公司成立之初，借助母公司在广电行业的雄厚实力，瞄准广电行业，发力数字电视支付，自主研发了数字电视支付系统，获得了电视支付1.0软件著作权，并且公司电视支付系统通过人民银行银行卡检测中心的检测认证，并于2012年6月获得人民银行颁发的全国数字电视支付和互联网支付《支付业务许可证》，成为全国首家获得全国范围数字电视支付和互联网支付的支付公司。
    </p>

    <p class="m-t-lg">
        <a href="http://www.baofoo.com" target="_blank">
            <img src="/front/images/about/partner/baofoo.jpg" alt="宝付支付"></img>
        </a>
    </p>

    <p style="text-indent: 2em">
        宝付作为国内领先的独立第三方支付企业，除了资金实力外，在支付风险控制和支付安全方面更是投入大量的精力。采用了国际上最先进的应用服务器和安全防护系统，为每一笔支付交易提供最大的安全保障。除此之外宝付与工商银行、招商银行、交通银行、建设银行、农业银行等国内30余家金融机构合作，全面支持各大银行互联网支付业务。
    </p>

    <p style="text-indent: 2em">
        宝付以“灵活自助”为理念，旨在为个人及企业提供灵活、自助、安全的互联网支付产品与服务。宝付产品种类丰富，受众广泛。全天侯的结算服务支持，优惠的交易费率，安全稳定的支付平台，使电子商务与资金流安全无缝连接，资金高效循环流通。
    </p>
</div>
</body>
</html>