<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>管理团队</title>

</head>
<body>
<div class="article-content">
    <h3 style="border-bottom: 2px solid #e7e7e7; margin: 0 -10px;">
        <span style="display: inline-block; padding-bottom: 10px; border-bottom: 2px solid #666666; margin-bottom: -2px">管理团队</span>
    </h3>

    <div style="background-color: #f8f8f8; padding: 30px; margin: 20px -40px">
        <div class="row">
            <div class="col-xs-4">
                <img src="/front/images/about/team/001.png" alt="执行董事">
            </div>
            <div class="col-xs-8" style="background-color: #f8f8f8; padding-right: 0">
                <h3 style="font-size: 22px">蔡永平</h3>
                <h4 style="font-size: 18px; color: #666666; font-weight: normal">执行董事</h4>
                <p class="m-b-n" style="color: #999999; font-size: 14px; line-height: 1.8em;">
                    毕业于山东财经大学，获得管理学及经济学双学士学位。<br>
                    2011年在中安信业从事老板贷信贷工作，获得中安信业3G师傅资格认证，<br>
                    精通德国IPC小额贷款技术。2012年在证大速贷小额贷款公司从事信贷审批工作。<br>
                    2012年7月加入投哪儿网，第一批创始员工。从事信贷审批、车贷审批工作。<br>
                    2013年7月出任广富宝执行董事。
                </p>
            </div>
        </div>
    </div>
    <div style="background-color: #f8f8f8; padding: 30px; margin: 20px -40px">
        <div class="row">
            <div class="col-xs-4">
                <img src="/front/images/about/team/002.png" alt="总经理">
            </div>
            <div class="col-xs-8" style="background-color: #f8f8f8">
                <h3 style="font-size: 22px">游松平</h3>
                <h4 style="font-size: 18px; color: #666666; font-weight: normal">总经理</h4>
                <p class="m-b-n" style="color: #999999; font-size: 14px; line-height: 1.8em;">
                    上海财经大学研究生，中国注册会计师。<br>
                    2009年投资红岭创投，2010年入股红岭创投。<br>
                    2012年3月加入红岭创投，历任副总经理兼财务总监。<br>
                    2016年10月加入广富宝。<br>
                    联系方式：<span class="text-primary">13723429185</span>&nbsp;&nbsp;<a href="mailto:617775122@qq.com" class="text-primary">617775122@qq.com</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row m-t-xxl">
        <div class="col-xs-3 pos-rlt">
            <img src="/front/images/about/team/003.png" alt="业务副总">
            <p class="pos-abt m-b-n" style="bottom: 15px; left: 15px; right: 15px; background-color: #000000; opacity: .7; color: #ffffff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                <b style="display: block; text-align: center; line-height: 1.2em; margin: 2px; color: #6699cc">徐登峰</b>
                <i style="display: block; text-align: center; line-height: 1.2em; margin: 2px; font-size: 12px;">业务副总</i>
            </p>
        </div>
        <div class="col-xs-3 pos-rlt m-b-lg">
            <img src="/front/images/about/team/007.png" alt="运营总监">
            <p class="pos-abt m-b-n" style="bottom: 15px; left: 15px; right: 15px; background-color: #000000; opacity: .7; color: #ffffff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                <b style="display: block; text-align: center; line-height: 1.2em; margin: 2px; color: #6699cc">林海乐</b>
                <i style="display: block; text-align: center; line-height: 1.2em; margin: 2px; font-size: 12px;">运营总监</i>
            </p>
        </div>
        <div class="col-xs-3 pos-rlt m-b-lg">
            <img src="/front/images/about/team/004.png" alt="技术主管">
            <p class="pos-abt m-b-n" style="bottom: 15px; left: 15px; right: 15px; background-color: #000000; opacity: .7; color: #ffffff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                <b style="display: block; text-align: center; line-height: 1.2em; margin: 2px; color: #6699cc">黄思盛</b>
                <i style="display: block; text-align: center; line-height: 1.2em; margin: 2px; font-size: 12px;">技术主管</i>
            </p>
        </div>
        <div class="col-xs-3 pos-rlt m-b-lg">
            <img src="/front/images/about/team/005.png" alt="风控经理">
            <p class="pos-abt m-b-n" style="bottom: 15px; left: 15px; right: 15px; background-color: #000000; opacity: .7; color: #ffffff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                <b style="display: block; text-align: center; line-height: 1.2em; margin: 2px; color: #6699cc">刘铮</b>
                <i style="display: block; text-align: center; line-height: 1.2em; margin: 2px; font-size: 12px;">风控经理</i>
            </p>
        </div>
        <div class="col-xs-3 pos-rlt m-b-lg">
            <img src="/front/images/about/team/008.png" alt="客服主管">
            <p class="pos-abt m-b-n" style="bottom: 15px; left: 15px; right: 15px; background-color: #000000; opacity: .7; color: #ffffff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                <b style="display: block; text-align: center; line-height: 1.2em; margin: 2px; color: #6699cc">杨美美</b>
                <i style="display: block; text-align: center; line-height: 1.2em; margin: 2px; font-size: 12px;">客服主管</i>
            </p>
        </div>
        <div class="col-xs-3 pos-rlt m-b-lg">
            <img src="/front/images/about/team/009.png" alt="人事主管">
            <p class="pos-abt m-b-n" style="bottom: 15px; left: 15px; right: 15px; background-color: #000000; opacity: .7; color: #ffffff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                <b style="display: block; text-align: center; line-height: 1.2em; margin: 2px; color: #6699cc">张義轶</b>
                <i style="display: block; text-align: center; line-height: 1.2em; margin: 2px; font-size: 12px;">人事主管</i>
            </p>
        </div>
        <div class="col-xs-3 pos-rlt m-b-lg">
            <img src="/front/images/about/team/010.png" alt="财务主管">
            <p class="pos-abt m-b-n" style="bottom: 15px; left: 15px; right: 15px; background-color: #000000; opacity: .7; color: #ffffff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
                <b style="display: block; text-align: center; line-height: 1.2em; margin: 2px; color: #6699cc">李春霞</b>
                <i style="display: block; text-align: center; line-height: 1.2em; margin: 2px; font-size: 12px;">财务主管</i>
            </p>
        </div>
    </div>
</div>
</body>
</html>