<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <title>广富宝Moblie</title>
    <style>
        html {
            font-size: 50PX;
        }

        * {
            margin: 0;
            padding: 0;
        }

        div {
            font-size: 0.3rem;
            margin-bottom: 0.08rem;
            font-weight: 500;
        }

        .swBox {
            margin-top: 0.2rem;
            padding: 0.16rem;
        }
    </style>
</head>
<body>
<div class="swBox">
    <div>
        1. 设置自动投标可以实现自动投资车贷标、渠道标、净值标和流转标获取收益。您可以对每个自动投标规则设置金额、期限、产品种类、利率范围等条件，符合条件才会触发投标行为；
    </div>
    <div>
        2. 每个账户最多允许添加3个规则；
    </div>
    <div>
        3. 如果自动投标规则100天未触发，系统将自动删除该条规则；
    </div>
    <div>
        4. 每个借款项目发出后，将根据所设置条件进行筛选，符合条件的自动投标规则将根据排名的前后顺序依次投标；
    </div>
    <div>
        5、投标排序规则如下：
    </div>
    <div>
        a）投标排序按照开启自动投标的时间先后进行排序
    </div>
    <div>
        b）自动投标触发后，被触发规则的排名将自动排到队尾；
    </div>
    <div>
        c）未投到标的规则排名自动前进相应位数，只要您未能投到标，排名将始终保持前进；
    </div>
    <div>
        d）修改自动投标时排序不变。
    </div>
    <div>
        d）修改自动投标时排序不变。
    </div>
    <div>
        1.自动投标规则默认有效期为100天，当触发自动投标后，该规则的有效期将自动延续到100天后；
    </div>
    <div>
        2.广富宝系统会在每天晚上0点清除过期的自动投标规则。
    </div>
    <div>
        例如：2016年7月1日下午3点创建或触发自动投标规则，到2016年10月9日下午3点区间该规则未触发自动投标，系统将在当天晚上零点清除该规则。若你还有其他疑问，请咨询在线客服或拨打客服400-839-6696咨询。
    </div>
</div>
</body>
</html>
